{% extends "base.html" %}
{% block content %}

<h1>Wyszukaj voucher</h1>

<form method="get" class="mb-4">
  <div class="input-group">
    <input type="text"
           name="q"
           value="{{ query }}"
           class="form-control"
           placeholder="Kod / MPV karta / Klient">
    <button class="btn btn-primary">
      Szukaj
    </button>
  </div>
</form>

{% if query %}

  <h5>Wyniki: {{ results|length }}</h5>

  {% for v in results %}
    <div class="card mb-3">
      <div class="card-body">

        <strong>
          {% if v.type == "MPV" %}
            MPV – {{ v.mpv_card.code }}
          {% else %}
            {{ v.display_type }} – {{ v.code }}
          {% endif %}
        </strong>

        <div>
          {{ v.client_name }}
        </div>

        <div>
          {% if v.effective_status == "used" %}
            <span class="badge bg-success">{{ v.display_status }}</span>

          {% elif v.effective_status == "expired" %}
            <span class="badge bg-danger">{{ v.display_status }}</span>

          {% elif v.effective_status == "active" %}
            <span class="badge bg-primary">{{ v.display_status }}</span>

          {% elif v.effective_status == "zero_not_returned" %}
              <span class="badge bg-warning text-dark">{{ v.display_status }}</span>

          {% elif v.effective_status == "zero_returned" %}
            <span class="badge bg-secondary">{{ v.display_status }}</span>

          {% else %}
            <span class="badge bg-light text-dark">{{ v.display_status }}</span>
          {% endif %}
        </div>


        <div>
          Wydany: {{ v.issue_date|date:"d.m.Y H:i" }}
        </div>

      </div>
    </div>
  {% empty %}
    <p class="text-muted">Brak wyników</p>
  {% endfor %}

{% endif %}

{% endblock %}
