{% extends "base.html" %}
{% block content %}
<h3>Transakcja MPV</h3>

<div class="card p-4">

    <strong>
        MPV – {{ voucher.mpv_card.code }}
    </strong>

    <div class="mb-2">
        Saldo: {{ voucher.value_remaining }} / {{ voucher.value_total }}
    </div>
    {% if form.errors %}
     <div class="alert alert-danger">
        {{ form.errors }}
     </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="mb-3">
            <label>Kwota</label>
            {{ form.amount }}
        </div>

        <div class="mb-3">
            <label>Notatka</label>
            {{ form.note }}
        </div>

        <button class="btn btn-info w-100">
            Zapisz transakcję
        </button>
    </form>
</div>
{% if show_modal %}
<div class="modal fade show" style="display:block; background: rgba(0,0,0,0.6);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Karta wyzerowana</h5>
            </div>

            <div class="modal-body">
                Czy karta została oddana do recepcji?
            </div>

            <div class="modal-footer">

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="confirm_return" value="no">
                    <button class="btn btn-warning">Nie</button>
                </form>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="confirm_return" value="yes">
                    <button class="btn btn-success">Tak</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}
