{% extends "base.html" %}
{% load classes_extras %}
{% block title %}Widok połączony{% endblock %}

{% block content %}



<div class="d-flex align-items-center justify-content-center gap-5 mb-3">

  <a href="?day={{ prev_day }}" class="day-nav-arrow">
    <i class="bi bi-chevron-left"></i>
  </a>

  <h1 class="m-0">
    {{ day_name }}
  </h1>

  <a href="?day={{ next_day }}" class="day-nav-arrow">
    <i class="bi bi-chevron-right"></i>
  </a>

</div>

<table class="table schedule-table">

  <thead>
    <tr>
      <th>Godzina</th>
      <th>Tor 1</th>
      <th>Tor 2</th>
      <th>Tor 3</th>
      <th>Tor 4</th>
    </tr>
  </thead>

  <tbody>

  {% for slot in hour_slots %}

    {% with key=slot|time:"H:i" %}
    <tr>

      <td>{{ key }}</td>

      {% for lane in grid|get_item:key %}
      <td>
        {% if lane.conflict %}
            <div class="conflict-warning">🚨</div>
        {% endif %}

        {% for event in lane.events %}
            <div class="event-card {% if lane.conflict %}event-conflict{% endif %}">
                {{ event.name }}
            </div>
        {% empty %}
            <div class="empty-cell"></div>
        {% endfor %}
      </td>
      {% endfor %}

    </tr>
    {% endwith %}

  {% endfor %}

  </tbody>

</table>

{% endblock %}
