{% extends "base.html" %}
{% load rbac%}
{% load static %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'css/schedule.css' %}">{% endblock %}
{% block title %}Grafiki{% endblock %}
{% block content %}

<div class="schedule-container">

<table class="table table-sm schedule-table">

{% for row in schedule %}
<tr>

{% for cell in row %}
<td class="schedule-module__cell {% if not cell %}schedule-module__empty{% endif %}">
    {{ cell }}
</td>
{% endfor %}

</tr>
{% endfor %}

</table>

</div>

{% endblock %}
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll(".schedule-cell").forEach(cell => {
    const text = cell.textContent.trim();

    if (!text) return;

    if (text.startsWith("8.00")) {
      cell.classList.add("schedule-morning");
    }

    if (text.endsWith("22.00")) {
      cell.classList.add("schedule-afternoon");
    }
  });
});
</script>
{% endblock %}