{% extends "base.html" %}
{% load rbac %}
{% load static %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'css/schedule.css' %}">{% endblock %}
{% block title %}Grafiki{% endblock %}
{% block content %}

<div class="schedule-container">

<table class="table table-sm schedule-table">

{% for row in schedule %}
<tr>

{% for cell in row %}
<td class="
    schedule-cell
    {% if not cell %}schedule-module__empty{% endif %}
    {% if cell == 'W' %}schedule-off{% endif %}
    {% if cell and ('8.00' in cell or '09.00' in cell) %}schedule-morning{% endif %}
    {% if cell and '15.00' in cell %}schedule-afternoon{% endif %}
">
    {{ cell }}
</td>
{% endfor %}

</tr>
{% endfor %}

</table>

</div>

{% endblock %}