{% extends "base.html" %}
{% block title %}Seanse saunowe{% endblock %}

{% block content %}

<h4 class="section-title mb-3">
  Seanse – {{ sauna_day.date|default:"Brak planu" }}
</h4>

{% if sauna_day %}

<div class="row">

  {% for session in sessions %}
    <div class="col-6 col-md-4 col-lg-3 mb-3">

  {% if request.user.area.code == "SA" %}

    <!-- INTERAKTYWNY kafelek -->
    <a href="{% url 'sauna_session_detail' session.id %}"
       class="card h-100 text-decoration-none">
  {% endif %}

    <!-- STATYCZNY kafelek -->
    <div class="card h-100 readonly">


      <div class="card-body">

        <strong>{{ session.session_name }}</strong><br>

        {{ session.start_time|time:"H:i" }} – {{ session.end_time|time:"H:i" }}<br>
        {{ session.sauna_name }}<br>

        <span class="text-muted">
          {{ session.leader_name }}
        </span>

        {% if session.total_people %}
          <div class="mt-2 small text-muted">
            K: {{ session.women|default:0 }}
            M: {{ session.men|default:0 }}
            TOTAL: {{ session.total_people|default:0 }}
          </div>
        {% endif %}

      </div>
    </div>  
  {% if request.user.area.code == "SA" %}
    </a>
  {% endif %}

</div>

  {% empty %}
    <p class="text-muted">
      Brak seansów.
    </p>
  {% endfor %}

</div>

{% else %}

<div class="card">
  <div class="card-body text-muted">
    Brak planu dla tej area.
  </div>
</div>

{% endif %}

{% endblock %}
