{% extends "base.html" %}
{% block title %}Tydzień saun{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">

  <a href="?date={{ prev_week|date:'Y-m-d' }}"
     class="btn btn-outline-light">
    ← Poprzedni tydzień
  </a>

  <h2 class="mb-0 text-center">
    {{ start|date:"d.m" }} – {{ end|date:"d.m.Y" }}
  </h2>

  <a href="?date={{ next_week|date:'Y-m-d' }}"
     class="btn btn-outline-light">
    Następny tydzień →
  </a>

</div>


<div class="row g-3">

  {% for item in week %}
    {% with weekday=item.date.weekday %}
      {% if weekday != 0 and weekday != 1 %}

        <div class="col">

          <div class="card h-100">
            <div class="card-body">

              <strong>
                <a href="{% url 'sauna_day' item.date|date:'Y-m-d' %}"
                   class="fw-bold text-decoration-none">

                  {% if weekday == 0 %}Pon
                  {% elif weekday == 1 %}Wt
                  {% elif weekday == 2 %}Śr
                  {% elif weekday == 3 %}Czw
                  {% elif weekday == 4 %}Pt
                  {% elif weekday == 5 %}Sob
                  {% elif weekday == 6 %}Nd
                  {% endif %}

                  {{ item.date|date:" d.m" }}

                </a>
              </strong>

              {% if item.day %}

                {% for session in item.day.sessions.all %}

                  <div class="mt-2">
                    {% if request.user.area.code == "SA" %}
                      {% include "saunas/_session_card.html" with session=session clickable=True %}
                    {% else %}
                      {% include "saunas/_session_card.html" with session=session clickable=False %}
                    {% endif %}
                  </div>

                {% endfor %}

              {% else %}

                <p class="text-muted small mt-2">
                  Brak planu
                </p>

              {% endif %}

            </div>
          </div>

        </div>

      {% endif %}
    {% endwith %}
  {% endfor %}

</div>

{% endblock %}